<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Change Basic Info | {{ websiteName }}</title>
    <link rel="stylesheet" href="{% static 'style/profile1.css' %}">
    <link rel="stylesheet" href="{% static 'style/profile2.css' %}">
</head>
<body>
    <header class="flex j-between">
        <div class="logo">
            <img src="{% static 'logo.svg' %}" height='50px' alt="">
        </div>
        <div class="logoutBtn">
            <form action="" class="place-center col">
                <i class="fas fa-save"></i>
                        <br>
                <small>Save</small>
            </form>
        </div>
    </header>
    <section id="main">
        <h1 class="heading">Change Password</h1>
        <form action="" class="place-center col">
            <div class="row place-center wrap">
                <input type="text" name="currentPassword" placeholder="Current Password">
                <input type="text" name="newPassword" placeholder="Password">
                <input type="text" name="confirmPassword" placeholder="Confirm New Password">
            </div>
            <div class="row place-center wrap">
                <button>
                    <form action="">
                        SAVE
                    </form>
                </button>
            </div>
        </form>
    </section>
</body>
</html>